

.slider{
    height: 100px;
    margin:auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

@keyframes scroll{
    0%{
        transform: translate(0);
    }100%{
        transform: translate(calc(-250px*7));
    }
}
.slidertrack{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px*14);
}
.slide{
    height: 100px;
    width: 250px;
}