
/* 
.slider{
  height: 100px;
  margin:auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

@keyframes scroll{
  from{
      transform: translate(0);
  }to{
      transform: translate(calc(-250px*7));
  }
}
.slider-track{
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px*14);
}
.slide{
  height: 100px;
  width: 250px;
} */